.promptInput {
  width: 100%;
  border: none;
  background: transparent;
  margin-left: 30px;
  outline: none;
  color: white;
  caret-shape: block;
  caret-animation: manual;
  caret-color: white;
}
