.promptInput {
  width: calc(100% - 30px);
  border: none;
  background: transparent;
  margin-left: 30px;
  outline: none;
  color: white;
  caret-shape: block;
  caret-animation: manual;
  caret-color: white;
}

.promptButton {
  font-size: 0px;
  border: none;
  box-shadow: none;
  background: none;
}
